@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: Mulish, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        @apply text-gray-700;
    }

    #root {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    h1, h2, h3, h4 {
        font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
        font-weight: 700;
        @apply text-gray-700;
    }

    .navlink {
        @apply text-gray-500 font-bold hover:text-indigo-700 duration-150;
    }

    .active-navlink {
        @apply relative text-indigo-700 font-bold after:absolute after:content-[''] after:-bottom-3 after:left-0
            after:w-full after:h-1 after:bg-indigo-700;
    }

    .btn {
        @apply font-bold rounded-md duration-150;
    }

    .btn-regular {
        @apply px-3 py-1;
    }

    .btn-large {
        @apply px-5 py-2 text-lg;
    }

    .btn-outlined {
        @apply bg-white border-2;
    }

    .form-button {
        @apply flex justify-center items-center gap-3 mt-2 py-3 bg-indigo-600 hover:bg-indigo-700 font-bold 
            text-white tracking-wider rounded focus:outline-none focus:ring-2 focus:ring-offset-2 
            focus:ring-indigo-600/80 transition-all duration-150;
    }

    .form-button-disabled {
        @apply flex justify-center items-center gap-3 mt-2 py-3 bg-indigo-400 font-bold 
            text-white tracking-wider rounded focus:outline-none focus:ring-2 focus:ring-offset-2 
            focus:ring-indigo-600/80 transition-all duration-150;
    }
}
