@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: Mulish, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        @apply text-gray-700;
    }

    #root {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    h1, h2, h3, h4 {
        font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
        font-weight: 700;
        @apply text-gray-700;
    }

    .navlink {
        @apply px-1 pt-1 h-full inline-flex items-center font-bold text-gray-500 border-b-2 border-transparent 
            hover:border-gray-300 hover:text-gray-700;
    }

    .active-navlink {
        @apply px-1 pt-1 h-full inline-flex items-center font-bold text-indigo-700 border-b-2 border-indigo-500;
    }

    .usermenu-navlink {
        @apply w-full px-4 py-2 flex items-center gap-2 text-left text-gray-500;
    }

    .usermenu-active-navlink {
        @apply w-full px-4 py-2 flex items-center gap-2 text-left text-gray-700 bg-gray-100;
    }

    .mobile-navlink {
        @apply w-full pl-3 pr-4 py-2 block text-base text-gray-500 text-left border-l-4 border-transparent hover:bg-gray-50 
            hover:border-gray-300 hover:text-gray-700;
    }

    .mobile-active-navlink {
        @apply pl-3 pr-4 py-2 block text-base text-indigo-700 bg-indigo-50 border-l-4 border-indigo-500;
    }

    .btn {
        @apply font-bold rounded-md duration-150;
    }

    .btn-regular {
        @apply px-3 py-1;
    }

    .btn-large {
        @apply px-5 py-2 text-lg;
    }

    .btn-outlined {
        @apply bg-white border-2;
    }

    .form-button {
        @apply flex justify-center items-center gap-3 mt-2 px-5 py-3 bg-indigo-600 hover:bg-indigo-700 font-bold 
            text-white tracking-wider rounded cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 
            focus:ring-indigo-600;
    }

    .form-button-disabled {
        @apply flex justify-center items-center gap-3 mt-2 px-5 py-3 bg-indigo-400 font-bold 
            text-white tracking-wider rounded focus:outline-none focus:ring-2 focus:ring-offset-2 
            focus:ring-indigo-600;
    }
}
